/* h1{
    color:red;
}
.button{
    width:100px;
} */

/* .main{
text-align: center;
}
input{
    margin-right: 40px;
    padding: 10px;
    margin-bottom: 5px;
} */


/* 
table{
    border: 2px solid blue;
}
tr{
    border: 2px solid blue;
} */